body {
    background-color: #2C2C2C;
}

.sheet {
    background-color: #333;
}

.box {
    border-color: #584370;
}

.sub-box {
    border-color: #43704b;
}

.stat-mod {
    color: #43704b;
}

.base-stat,
.box h2,
.box h3,
.save-mod,
.skill-mod,
.skill-stat {
    color: #AAA;
}