body {
    background-color: #f2f2f2;
}

.sheet {
    background-color: #fff;
}

.box {
    border-color: #00CBFF;
}

.sub-box {
    border-color: #4CAF50;
}

.stat-mod {
    color: #4CAF50;
}

.base-stat {
    color: #555;
}